#window {
	background-color: #1c1b19;
	color: #fce8c3;
	border-radius: 0rem;
	/*border: 2px solid #98bc37;*/
	font-size: 1.4rem;
}
#input {
	background-color: #1c1b19;
	color: #918175;
	border-radius: 0;
	border: 1px solid #918175;
}
#input:focus, #input:focus-visible, #input:active {
	border: 1px solid #98bc37;
}
#scroll {}
#entry {
	background-color: #1c1b19;
	color: #918175;
}
#entry:selected {
	background-color: #1c1b19;
	color: #fce8c3;
}
#text:selected {
	color: #fce8c3;
	font-weight: 700;
}
