#window {
	background-color: #f5f7ee;
	color: #14100d;
	border: 2px solid #918175;
	border-radius: 0rem;
	font-size: 1.4rem;
}
#input {
	background-color: #f5f7ee;
	color: #918175;
	border: 1px solid #918175;
	border-radius: 0;
}
#input:focus, #input:focus-visible, #input:active {
	border: 1px solid #918175;
}
#scroll {}
#entry {
	background-color: #f5f7ee;
	color: #918175;
}
#entry:selected {
	background-color: #f5f7ee;
	color: #14100d;
}
#text:selected {
	color: #14100d;
	font-weight: 700;
}
