<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
<menu id="root-menu">
  <menu id="custom-apps" label="programe">
    <item label="firefox"><action name="Execute" command="firefox" /></item>
    <item label="terminal"><action name="Execute" command="foot" /></item>
    <item label="fișiere"><action name="Execute" command="thunar" /></item>
    <separator />
    <item label="grsync"><action name="Execute" command="grsync" /></item>
    <item label="netsurf"><action name="Execute" command="netsurf-gtk" /></item>
  </menu>
  <separator/>
  <menu id="system-opts" label="sistem">
    <item label="🌇 fundal"><action name="Execute" command="foot ~/.local/bin/wpmenu"/></item>
    <item label="🎨 temă"><action name="Execute" command="labwc-tweaks"/></item>
    <item label="📊 panou"><action name="Execute" command="~/.local/bin/rebar"/></item>
  </menu>
  <separator/>
  <menu id="power-menu" label="computer" >
    <item label="🔒 blochează">
      <action name="Execute" command="swaylock -c 000000"/>
    </item>
    <item label="🔁 repornește">
      <action name="Execute" command="systemctl -i reboot"/>
    </item>
    <item label="⏹️ oprește">
      <action name="Execute" command="systemctl -i poweroff"/>
    </item>
    <item label="🖥️ opțiuni">
      <action name="Execute" command="foot ~/.local/bin/pwroff"/>
    </item>
    <item label="🚪 ieși">
      <action name="Exit" />
      <prompt>da</prompt>
    </item>
  </menu>
  <separator />
  <item label="reconfigurare">
    <action name="Reconfigure" />
  </item>
</menu>
</openbox_menu>
