* {
    font-family: sans-serif;
    font-size: 12px;
}

window#waybar {
    background-color: #f5f7ee;
    color: #14100d;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-mplc,
#tray {
    padding: 0 10px;
    color: #14100d;
}

#window { margin: 0 4px; }

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#battery.charging, #battery.plugged {
    color: #26A65B;
}

#battery.critical:not(.charging) {
    color: #ff3030;
}

label:focus {
    background-color: #000000;
}

#network.disconnected {
    color: #918175;
}

#pulseaudio.muted {
    color: #918175;
}
#wireplumber.muted {
    background-color: #918175;
}

#temperature.critical {
    background-color: #ff3030;
}

#tray {
    color: #918175;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #992e2e;
}

